@charset "UTF-8";
/* ================================================= [社区首页移动端] 私有页面
===================================================*/
.index { /*****************头部***********/ /***************首页******************/ /***************作品******************/ }
.index .home-sel, .index .new-msg { width: 100%; box-sizing: border-box; }
.index .header-list { border-bottom: 1px solid #dadada; vertical-align: middle; }
.index .header-list li { border-right: 1px solid #d8d8d8; vertical-align: middle; float: left; width: 25%; box-sizing: border-box; text-align: center; margin: 1.25rem 0; position: relative; }
.index .header-list li:last-child { border-right: 0; }
.index .header-list li .tab { width: 70%; font-size: 1.5rem; height: 2.5rem; line-height: 2.5rem; display: inline-block; text-align: center; color: #717171; box-sizing: border-box; }
.index .header-list li .tab.on { font-weight: bold; color: #fff; background-color: #0096ff; border-radius: 10rem; position: relative; }
.index .header-list li .tab.on:after { content: ''; display: block; position: absolute; bottom: -0.29rem; left: 50%; margin-left: -0.4rem; border-left: 0.4rem solid transparent; border-right: 0.4rem solid transparent; border-top: 0.3rem solid #0096ff; }
.index .home-sel { width: 100%; -webkit-box-sizing: box-sizing; box-sizing: box-sizing; padding-top: 1.2rem; padding-bottom: 1.2rem; }
.index .home-sel .dropdown { width: 7.5rem; height: 2.25rem; float: left; font-size: 1.3rem; position: relative; }
.index .home-sel .dropdown:hover .dropdown-options { display: block; }
.index .home-sel .dropdown .dropdown-selected { width: 7.5rem; height: 3.25rem; border: 0.1rem solid #dfdfe3; padding: 0.5rem; color: #999999; box-sizing: border-box; border-top-left-radius: 0.15rem; border-top-right-radius: 0.15rem; background-color: #fff; }
.index .home-sel .dropdown .dropdown-selected i[class*="g-iconfont"] { font-size: 1.2rem; position: absolute; right: 0.8rem; top: 50%; margin-top: -0.35rem; }
.index .home-sel .dropdown .dropdown-options { background-color: #fff; display: none; width: 7.5rem; border: 0.1rem solid #dfdfe3; border-top: 0; border-bottom: 0; position: absolute; top: 3.25rem; left: 0; color: #999999; box-sizing: border-box; }
.index .home-sel .dropdown .dropdown-options .dropdown-opitem { box-sizing: border-box; padding: 0.5rem; border-bottom: 0.1rem solid #dfdfe3; }
.index .home-sel .dropdown .dropdown-options .dropdown-opitem.on { background-color: #f6f9fa; color: #333; }
.index .home-sel .work-sel { float: left; margin-top: 0.3rem; }
.index .home-sel .work-sel a { display: inline-block; vertical-align: text-top; width: 7.4rem; height: 2.4rem; line-height: 2.4rem; text-align: center; color: #999; font-size: 1.3rem; }
.index .home-sel .work-sel .on { color: #0096ff; }
.index .home-sel .work-sel .work-dian { border: 0.1rem solid #dfdfe3; }
.index .home-sel .work-sel .work-enjoy { border: 0.1rem solid #dfdfe3; border-left: 0; }
.index .home-sel .hot-new { float: right; color: #0096ff; text-align: center; line-height: 3.5rem; }
.index .home-sel .hot-new li { font-size: 1.3rem; display: inline-block; width: 4.0rem; }
.index .home-sel .hot-new li.on a { color: #0096ff; }
.index .home-sel .hot-new li a { color: #999999; }
.index .home-sel .hot-new .hot { float: left; text-align: left; }
.index .home-sel .hot-new .new { float: right; text-align: right; }
.index .new-msg { width: 100%; height: 2.5rem; color: #5d90cc; text-align: center; font-size: 1.2rem; line-height: 2.5rem; -webkit-box-sizing: border-box; box-sizing: border-box; }
.index .new-msg p { background-color: #f6f9fa; }
.index .home, .index .work-main { width: 100%; box-sizing: border-box; padding: 0 1.6rem; zoom: 1; }
.index .home:after, .index .work-main:after { content: "."; clear: both; display: block; height: 0; visibility: hidden; }
.index .work-main .w-left { float: left; }
.index .work-main .w-right { float: right; }
.index .work-main .work-list { width: 49%; }
.index .work-main .work-list .item-comment { padding: 0.5rem 0.5rem; background: #F4F4F4; }
.index .work-main .work-list .item-comment.show-comment-detail .opt-up { display: block; }
.index .work-main .work-list .item-comment.show-comment-detail .opt-down { display: none; }
.index .work-main .work-list .item-comment.show-comment-detail .intro { -webkit-line-clamp: 8; max-height: inherit; }
.index .work-main .work-list .item-comment .tit { color: #0096ff; }
.index .work-main .work-list .item-comment .intro { color: #717171; display: -webkit-box; -webkit-line-clamp: 3; -webkit-box-orient: vertical; overflow: hidden; max-height: 4.5em; }
.index .work-main .work-list .item-comment .opt-line { text-align: center; }
.index .work-main .work-list .item-comment .opt-up { display: none; }
.index .work-main .work-list .work-item { background-color: #f4f4f4; width: 100%; margin-bottom: 1rem; }
.index .work-main .work-list .work-item .work-box { position: relative; }
.index .work-main .work-list .work-item .work-love { position: absolute; left: 0.5rem; bottom: 0.75rem; border-radius: 5rem; background-color: rgba(0, 0, 0, 0.4); color: #fff; font-size: 1.2rem; padding: 0 0.5rem; }
.index .work-main .work-list .work-item .work-love i[class*="g-iconfont"] { color: #a8b6c5; font-size: 1.2rem; }
.index .work-main .work-list .work-item .ico-gif { display: inline-block; position: absolute; right: 0.5rem; top: 0.4rem; color: #ddd; font-size: 2rem; width: 1.9rem; height: 1.15rem; background: url("/assets/v2/m/img/community/home/gif.png") no-repeat; background-size: 1.9rem 1.15rem; }
.index .work-main .work-list .work-item .work-img { width: 100%; }
.index .work-main .work-list .work-item .title { color: #333333; font-size: 1.4rem; padding: 0.5rem; }
.index .work-main .work-list .work-item .author { background-color: #eee; border-top: 1px dotted #dadada; padding: 0.5rem; }
.index .work-main .work-list .work-item .author .user-img { float: left; width: 2.5rem; height: 2.5rem; border-radius: 50%; overflow: hidden; margin-top: 0.5rem; }
.index .work-main .work-list .work-item .author .user-img img { width: 2.5rem; height: 2.5rem; }
.index .work-main .work-list .work-item .author .intro-box { padding-left: 0.5rem; display: block; margin-left: 3rem; }
.index .work-main .work-list .work-item .author .intro-box .user-name { display: block; max-width: 10rem; }
.index .work-main .work-list .work-item .author .intro-box .user-time { display: block; color: #999999; font-size: 1.2rem; }
.index .home-scrollTop { position: fixed; display: block; bottom: 6rem; right: 2rem; height: 5.35rem; width: 5.35rem; background: rgba(0, 0, 0, 0.6); text-align: center; -webkit-box-sizing: border-box; box-sizing: border-box; padding-top: 0.6rem; }
.index .home-scrollTop .home-arr { width: 2.3rem; height: 2.3rem; display: inline-block; background: url("/assets/v2/m/img/community/common/up.png") no-repeat; background-size: 100%; }
.index .home-scrollTop .scroll-txt { font-size: 1.2rem; color: #fff; }
